# Forge files
cache/
out/

# Coverage
coverage/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/84532/
/broadcast/**/dry-run/

# Forge files
cache/
out/
storage/

# Gas snapshot
.gas-snapshot/

# Dotenv file
.env
.preset.sh

# appleeeee
.DS_Store
